body {
  margin: 0;
  font-family: inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1b21;
  background: linear-gradient(-45deg,#794dac,#1c111f,#1a1b21,#1e5657); /*#145DA0*/
  background-size: 400% 400%;
  position: relative;
  animation: rgb 10s ease-in-out infinite;
}
@keyframes rgb {
  0%{
      background-position: 0 50%;
  }
  50%{
      background-position:100% 50%;
  }
  100%{
      background-position: 0 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  text-align: center;
}

header img{
  width: 100%;
}

header h1{
  color: rgb(255, 255, 255);
}
header h2{
  color: rgb(43, 226, 202);
}

button{
  padding: 10px;
  border-radius: 10px;
  justify-content: space-evenly;
  font-size: 20px;
  cursor: pointer;

}

.button1{
  background-color: rgb(255, 255, 255);
  color: black;
  transition-duration: 0.5s;
}

.button1:hover{
  background-color: #161619;
  color: white;
}

.button2{
  background-color: rgb(37, 101, 190);
  color: rgb(252, 252, 252);
  transition-duration: 0.5s;
}

.button2:hover{
  background-color: #161619;
}

.about{
  color: white;
  padding: 50px;
  margin: 40px;
}

.interests{
  color: white;
  padding: 50px;
  margin: 40px;
}



.projects{
    color: white;
    padding: 50px;
    margin: 40px;
 
  
}

.projects a{
  color: white;
  text-decoration: none;
  
}
  /* background-color: #161619;

 */




 .resume{
  color: white;
  padding: 50px;
  margin: 40px;

 }

 .resume a{
  color: white;
  
}







 .div-footer{
  background-color: #161619;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 10px;
 }

 .fa {
  padding: 15px;
  font-size: 40px;
  width: 80px;
  text-align: center;
  margin: 5px 2px;
}


 .fa-github{
  color: white;
 }
 .twitter{
  color: #1c96e8;
 }
 .facebook {
  color: #3B5998;
}
.steam{
  color: #3c628d;
}

h4{
  position: absolute;
  left:50%;
  transform: translate(-50%,50%);
  letter-spacing: 1px;

  padding: 0;
  margin: 0;   
  color: transparent;
}

h4:before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  color: #000;
  overflow: hidden;
  border-right: 1px solid #000;
  animation: auto 10s steps(40) infinite;
  white-space: nowrap;

}

@keyframes auto {
  0% {
      width: 0;
  }
  50% {
      width: 100%;
  }

  100% {
      width: 0;
  }
}
